@tailwind base;
@tailwind components;
@tailwind utilities;

/* This style will apply a line under the text */
.group::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #e1c61b; /* Tailwind indigo-600 or any color you prefer */
    transition: width 0.3s ease-in-out;
  }
  
  .group:hover::after {
    width: 100%;
  }
  
  